@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

:root{
    --regular:400;
    --bold:700;
    --fs-small:15px;
};
body{
    font-family: "Outfit", sans-serif;
}